.App {
  text-align: center;
}

.text-container {
  width: 60vw;
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}
/* what i want is the text container should contain divs of words which then contain spans of letters */
